<h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <h2>Vous allez créer un compte dans l'application Movie Manager</h2>
  <h3>Quelques informations sont nécessaires pour personnaliser votre expérience d'utilisation</h3>
  <p>What's your Email?</p>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email">
  </mat-form-field>
  <p>What's your Password?</p>
  <mat-form-field appearance="fill">
    <mat-label>Mot de passe</mat-label>
    <input matInput [(ngModel)]="data.password">
  </mat-form-field>
  <p>What's your birthYear?</p>
  <mat-form-field appearance="fill">
    <mat-label>xxxx</mat-label>
    <input matInput [(ngModel)]="data.birthYear">
  </mat-form-field>
  <p>Agreed with adultContent ?</p>
  <!-- <mat-form-field appearance="fill">
    <mat-label>Yes/No</mat-label>
    <input matInput [(ngModel)]="data.adultContent">
  </mat-form-field> -->
  <div class="example-listbox-container">
    <label class="example-listbox-label" id="example-starter-pokemon-label">
      <!-- Starter Pokemon -->
    </label>
    <ul cdkListbox
        [cdkListboxValue]="data.adultContent"
        (cdkListboxValueChange)="data.adultContent = $event.value"
        aria-labelledby="example-starter-pokemon-label"
        class="example-listbox">
      <li *ngFor="let pokemon of choiceAdultContent"
          [cdkOption]="pokemon"
          class="example-option">
        {{pokemon}}
      </li>
    </ul>
  </div>
  <p>
    Your choice : <b>{{data.adultContent | json}}</b>&nbsp;
    <button (click)="resetAdultContent()">Reset</button>
  </p>
  <p>Agreed with enableAccount ?</p>
  <!-- <mat-form-field appearance="fill">
    <mat-label>Yes/No</mat-label>
    <input matInput [(ngModel)]="data.enableAccount">
  </mat-form-field> -->
  <div class="example-listbox-container">
    <label class="example-listbox-label" id="example-starter-pokemon-label">
      <!-- Starter Pokemon -->
    </label>
    <ul cdkListbox
        [cdkListboxValue]="data.enableAccount"
        (cdkListboxValueChange)="data.enableAccount = $event.value"
        aria-labelledby="example-starter-pokemon-label"
        class="example-listbox">
      <li *ngFor="let pokemon of choiceEnableAccount"
          [cdkOption]="pokemon"
          class="example-option">
        {{pokemon}}
      </li>
    </ul>
  </div>
  <p>
    Your choice : <b>{{data.enableAccount | json}}</b>&nbsp;
    <button (click)="resetEnableAccount()">Reset</button>
  </p>
  <p>What's your genreMovie ?</p>
  <!-- <mat-form-field appearance="fill">
    <mat-label>Liste de choix</mat-label>
    <input matInput [(ngModel)]="data.genreMovie">
  </mat-form-field> -->
  <div class="example-listbox-container">
    <label class="example-listbox-label" id="example-toppings-label">
      <!-- Choose Toppings -->
    </label>
    <ul cdkListbox
        cdkListboxMultiple
        [(ngModel)]="data.genreMovie"
        aria-labelledby="example-toppings-label"
        class="example-listbox">
      <li *ngFor="let topping of toppingsGenreMovie"
          [cdkOption]="topping"
          class="example-option">
        {{topping}}
      </li>
    </ul>
  </div>
  <p>
    Your order: <b>{{data.genreMovie | json}}</b>&nbsp;
    <button (click)="data.genreMovie = []">Reset</button>
  </p>
  <p>What's your genreTv ?</p>
  <!-- <mat-form-field appearance="fill">
    <mat-label>Liste de choix</mat-label>
    <input matInput [(ngModel)]="data.genreTv">
  </mat-form-field> -->
  <div class="example-listbox-container">
    <label class="example-listbox-label" id="example-toppings-label">
      <!-- Choose Toppings -->
    </label>
    <ul cdkListbox
        cdkListboxMultiple
        [(ngModel)]="data.genreTv"
        aria-labelledby="example-toppings-label"
        class="example-listbox">
      <li *ngFor="let topping of toppingsGenreTv"
          [cdkOption]="topping"
          class="example-option">
        {{topping}}
      </li>
    </ul>
  </div>
  <p>
    Your order: <b>{{data.genreTv | json}}</b>&nbsp;
    <button (click)="data.genreTv = []">Reset</button>
  </p>
  <p>What's your streamingSubscription ?</p>
  <!-- <mat-form-field appearance="fill">
    <mat-label>Liste de choix</mat-label>
    <input matInput [(ngModel)]="data.streaming">
  </mat-form-field> -->
  <div class="example-listbox-container">
    <label class="example-listbox-label" id="example-toppings-label">
      Choose Toppings
    </label>
    <ul cdkListbox
        cdkListboxMultiple
        [(ngModel)]="data.streaming"
        aria-labelledby="example-toppings-label"
        class="example-listbox">
      <li *ngFor="let topping of toppingsStreaming"
          [cdkOption]="topping"
          class="example-option">
        {{topping}}
      </li>
    </ul>
  </div>
  <p>
    Your order: <b>{{data.streaming | json}}</b>&nbsp;
    <button (click)="data.streaming = []">Reset</button>
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>


<!-- <div class="modal modal-signin position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Sign up for free</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-5 pt-0">
        <form class="">
          <div class="form-floating mb-3">
            <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign up</button>
          <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
          <hr class="my-4">
          <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>
          <button class="w-100 py-2 mb-2 btn btn-outline-dark rounded-3" type="submit">
            <svg class="bi me-1" width="16" height="16"><use xlink:href="#twitter"/></svg>
            Sign up with Twitter
          </button>
          <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3" type="submit">
            <svg class="bi me-1" width="16" height="16"><use xlink:href="#facebook"/></svg>
            Sign up with Facebook
          </button>
          <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
            <svg class="bi me-1" width="16" height="16"><use xlink:href="#github"/></svg>
            Sign up with GitHub
          </button>
        </form>
      </div>
    </div>
  </div>
</div> -->