<div class="d-flex mt-5 py-2 title">
    <button class="btn btn-outline-light btn-sm" (click)="goBack()">
        <i class="fas fa-arrow-left"></i>
    </button>
    <!-- <h1>{{movie?.titre}}</h1> -->
    <h1>{{ (movieSvc.getMovieDetail$() | async )?.titre }}</h1>
</div>

<!-- <div class="row"> -->
<div *ngIf="movieSvc.getMovieDetail$() | async as movie" class="row detail">

    <!-- video -->
    <div class="col-12 col-lg-6">
        <div class="video-container">
            <iframe *ngIf="videoUrl != null" [src]="videoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h2 *ngIf="videoUrl == null">Pas de video disponible</h2>
        </div>
    </div>

    <!-- details -->
    <div class="col-12 col-lg-6">
        <button class="btn btn-outline-light btn-sm" (click)="addWish()">
            <h2>wish</h2>
            <i class="fa-solid fa-plus"></i>
        </button>

        <button class="btn btn-outline-light btn-sm" (click)="checkWatch()">
            <h2>watch</h2>
            <i class="fa-solid fa-check"></i>
        </button>
        <span>"viewingPlace" : "cinema home file"</span>
        <br>
        <span>"viewingRate" : 1 2 3 4 5, "viewingMood" : 0 1 2 3 4 5 6 7 8 9</span>

        <h2>Date de sortie</h2>
        <p>{{ movie?.date | date:'dd/MM/yyyy' }}</p>

        <h2>Résumé</h2>
        <p>{{movie?.resume}}</p>

        <h2>Genres</h2>
        <p class="genre"><span *ngFor="let genre of movie.genres">{{ genre.name}}</span></p>

        <h2>Durée</h2>
        <p>{{ movie.duration | printDuration }}</p>

        <!-- <hr>
        <h2>Commentaires</h2>
        <app-comment-form [movie_id]="movie.id"></app-comment-form> -->
    </div>

</div>